@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

@media only screen and (min-width: 768px) {

    .Group {
        width: 199px;
        height: 40px;
        object-fit: contain;
    }

    .logo{
        width: 199px;
        height: 40px;
        top: 10px;
        right:40px;
        position: fixed;
    }
}

@media only screen and (min-width: 320px) and (max-width:767px){

    .Group {
        width: 199px;
        height: 40px;
        object-fit: contain;
    }

    .logo{
        width: 199px;
        height: 40px;
        top: 12px;
        right:8px;
        position: fixed;
    }
}