@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);


body{background-color: #f1f1f1;}

#nogoals{ 
    display: block;
    width: 100%;
    justify-content: center;

}
img{
    fill: #979797;
}

.img2{
    fill: #979797;
  }
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 150px;
}


.emptyquote{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}

.CreatedBy{
    margin: 0 auto;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 7vh;
    background-color: #000000;
}

.CreatedByMe{
    width: auto;
    margin-top: 3vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vmin;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}
.Description {
    margin-left: 16px;
    margin-top:10px;
    width: 100%;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.25);
  }

@media only screen and (min-width: 1024px) {

    .Align{
        width: 1024px;
        height: 646px;
        margin: auto;
    }

    .Tab {
        width: auto;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    
      .Wrapper{
        width:auto;
        height:auto;
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        flex-wrap: wrap;
      }
    
    
      .active {
        color:#0700ff;
        width: 46px;
        height: 22px;
        margin-right: 16px;
        margin-top: 24px;
      }
    
      .activeStat {
        color:#0700ff;
        width: 46px;
        height: 22px;
        margin-right: 16px;
        margin-top: 24px;
      }
    
      .inactive {
        width: 46px;
        height: 22px;
        color: rgba(0, 0, 0, 0.5);
        margin-right: 16px;
        margin-top: 24px;
      }
    
      .inactiveStat {
        width: 74px;
        height: 22px;
        color: rgba(0, 0, 0, 0.5);
        margin-right: 16px;
        margin-top: 24px;
      }
    
      .Rectangle {
        width: 44px;
        height: 2px;
        background-color:#0700ff;
      }
    
      .StatRectangle{
        width: 74px;
        height: 2px;
        background-color:#0700ff;
      }
    
      .Group {
        width: 199px;
        height: 40px;
        object-fit: contain;
        }
    
       .logo{
        width: 199px;
        height: 40px;
        margin-top:10px;
        margin-left: 531px;
    }

    #button{
        margin-top: 19px;
        margin-left: 790px;
        width: 155px;
        max-width: 100%;
        height: 48px;
        border-radius: 24px;
        border: #0700ff;
        box-shadow: 0 2px 27px 0 rgba(7, 0, 255, 0.5);
        background-color: #0700ff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    /*todo*/
    .WhiteBox {
        margin-top: 16px;
        margin-right: 16px;
        width: 384px;
        height: 141px;
        border-radius: 4px;
        box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Align{
        margin: auto;
        }
        
    .Tab {
        width: auto;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }
        
    .Wrapper{
        width:auto;
        height:auto;
        margin: 24px;
        display: flex;
        flex-wrap: wrap;
    }
        
    .active {
        color:#0700ff;
        width: 46px;
        height: 22px;
        margin-right: 16px;
    }
        
    .activeStat {
        color:#0700ff;
        width: 46px;
        height: 22px;
        margin-right: 16px;
    }
        
    .inactive {
        width: 46px;
        height: 22px;
        color: rgba(0, 0, 0, 0.5);
        margin-right: 16px;
    }
        
    .inactiveStat {
        width: 74px;
        height: 22px;
        color: rgba(0, 0, 0, 0.5);
        margin-right: 16px;
    }
        
    .Rectangle {
        width: 44px;
        height: 2px;
        background-color:#0700ff;
    }
        
    .StatRectangle{
        width: 74px;
        height: 2px;
        background-color:#0700ff;
    }
        
    .Group {
        display: block;
        width: 199px;
        height: 40px;
        object-fit: contain;
    }
        
    .logo{
        width: 199px;
        height: 40px;
        top:10px;
        right:40px;
        position: fixed;
    }
    
    #button{
        margin-top: 19px;
        margin-left: 75vw;
        width: 155px;
        max-width: 100%;
        height: 48px;
        border-radius: 24px;
        border: #0700ff;
        box-shadow: 0 2px 27px 0 rgba(7, 0, 255, 0.5);
        background-color: #0700ff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    /*todo*/
    .WhiteBox {
        margin-top: 16px;
        margin-right: 16px;
        width: 44.7vw;
        height: 141px;
        border-radius: 4px;
        box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
    }
    
}


@media only screen and (min-width:320px) and (max-width: 767px) {
    .Tab {
        width: auto;
        height: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
    }

    .Wrapper{
        width:auto;
        height:auto;
        margin: 8px;
    }

    .active {
        color:#0700ff;
        width: 46px;
        height: 22px;
        margin-right: 16px;
        margin-top: 24px;
    }

    .activeStat {
        color:#0700ff;
        width: 46px;
        height: 22px;
        margin-right: 16px;
        margin-top: 24px;
    }

    .inactive {
        width: 46px;
        height: 22px;
        color: rgba(0, 0, 0, 0.5);
        margin-right: 16px;
        margin-top: 24px;
    }

    .inactiveStat {
        width: 74px;
        height: 22px;
        color: rgba(0, 0, 0, 0.5);
        margin-right: 16px;
        margin-top: 24px;
    }

    .Rectangle {
        width: 44px;
        height: 2px;
        background-color:#0700ff;
    }

    .StatRectangle{
        width: 74px;
        height: 2px;
        background-color:#0700ff;
    }

    .Group {
        display: block;
        width: 199px;
        height: 40px;
        object-fit: contain;
    }

   .logo{
        width: 199px;
        height: 40px;
        top: 12px;
        right:8px;
        position: fixed;
    }

    #button{
        margin-top: 19px;
        margin-left: 75vw;
        width: 155px;
        max-width: 100%;
        height: 48px;
        border-radius: 24px;
        border: #0700ff;
        box-shadow: 0 2px 27px 0 rgba(7, 0, 255, 0.5);
        background-color: #0700ff;
        font-family: 'Roboto' , sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .WhiteBox {
        margin-top: 8px;
        width: auto;
        height: 141px;
        border-radius: 4px;
        box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
    }
}





.goalAlign{
    margin-left:200px;
    display: flex;
    flex-wrap: wrap;
}

.nextButton{
    margin-top: 48px;
    margin-left:200px;
    width: 80px;
    height: 48px;
    border-radius: 24px;
    border-color: #ffffff;
    background-color: #d8d8d8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.disGoalBox{
    width: 200px;
    height: 145px;
    margin-top: 24px;
    margin-right: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 27, 0.15);
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    fill: #d8d8d8;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0700ff;
}

.charGoalBox{
    width: 200px;
    height: 145px;
    margin-top: 24px;
    margin-right: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 27, 0.15);
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.25);;
}

.selectType{
    margin-top: 16px;
    margin-left:200px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.goalType{
    margin-top: 8px;
    margin-left:200px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.Step{
    margin-top: 69px;
    margin-left:200px;
    width: 352px;
    height: 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0700ff;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 100%;
    height:95%;
  }
  
  .close {
    background-image: url("img/cancel.svg");
    position: fixed;
    top:48px;
    right: 48px;
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



